@{ Layout = "~/Views/Shared/_Layout_login.cshtml"; }


@Html.Raw(TempData["errormsg"]) @*script ya html chalany k liye*@
<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    <div class="account-form">
        <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
            <a href="index.html"><img src="~/content/assets/images/logo-white-2.png" alt=""></a>
        </div>
        <div class="account-form-inner">
            <div class="account-container">
                <div class="heading-bx left">
                    <h2 class="title-head">Sign Up <span>Now</span></h2>
                    <p>Login Your Account <a href="/Home/login">Click here</a></p>
                </div>
                <h3 style="color:red">@ViewBag.message</h3>

                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#home" class="btn button-sm" aria-controls="home" role="tab" data-toggle="tab" style="font-size:12px">Register as Student</a></li>
                        <li role="presentation"><a href="#profile" class="btn button-sm" aria-controls="profile" role="tab" data-toggle="tab" style="font-size:12px">Register as Teacher</a></li>
                        <li role="presentation"><a href="#messages" class="btn button-sm" aria-controls="messages" role="tab" data-toggle="tab" style="font-size:12px">Register as Admin</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <h2>Register as a Student</h2>
                            <form class="contact-bx" method="post" action="/Students/StudentRegister" enctype="multipart/form-data">

                                <div class="row placeani">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Name</label>
                                                <input name="student_name" type="text" required="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Email Address</label>
                                                <input name="student_email" type="email" required="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Password</label>
                                                <input name="student_password" type="password" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Contact #</label>
                                                <input name="student_contact" type="text" title="please use this Pattern 03121223345" pattern="03[0-9]{2}(?!0123456)(?!1234567)(?!2345678)(?!3456789)(?!4567890)(?!0987654)(?!9876543)(?!8765432)(?!7654321)(?!6543210)([0-9])(?!\1{6})[0-9]{6}" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Image (optional)</label>
                                                <input name="pic" type="file" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 m-b30">
                                        <button type="submit" class="btn button-md">Sign Up</button>
                                    </div>
                                    <div class="col-lg-12">
                                        <h6>Sign Up with Social media</h6>
                                        <div class="d-flex">
                                            <a class="btn flex-fill m-r5 facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                            <a class="btn flex-fill m-l5 google-plus" href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">

                            <h2>Register as a Teacher</h2>
                            <form class="contact-bx" method="post" action="/home/tchregister" enctype="multipart/form-data">

                                <div class="row placeani">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Name</label>
                                                <input name="teacher_name" type="text" required="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Email Address</label>
                                                <input name="teacher_email" type="email" required="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Password</label>
                                                <input name="teacher_password" type="password" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Contact #</label>
                                                <input name="teacher_contact" type="text" title="please use this Pattern 03121223345" pattern="03[0-9]{2}(?!0123456)(?!1234567)(?!2345678)(?!3456789)(?!4567890)(?!0987654)(?!9876543)(?!8765432)(?!7654321)(?!6543210)([0-9])(?!\1{6})[0-9]{6}" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Address</label>
                                                <input name="teacher_address" type="text" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Bio</label>
                                                <input name="teacher_intro" type="text" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Image (optional)</label>
                                                <input name="pic" type="file" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 m-b30">
                                        <button type="submit" class="btn button-md">Sign Up</button>
                                    </div>
                                    <div class="col-lg-12">
                                        <h6>Sign Up with Social media</h6>
                                        <div class="d-flex">
                                            <a class="btn flex-fill m-r5 facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                            <a class="btn flex-fill m-l5 google-plus" href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">

                            <h2>Register as a Admin</h2>
                            <form class="contact-bx" method="post" action="/home/admregister" enctype="multipart/form-data">

                                <div class="row placeani">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Name</label>
                                                <input name="admin_name" type="text" required="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Email Address</label>
                                                <input name="admin_email" type="email" required="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Your Password</label>
                                                <input name="admin_password" type="password" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Address</label>
                                                <input name="admin_adress" type="text" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Contact #</label>
                                                <input name="admin_contact" type="text" autocomplete="off" title="please use this Pattern 03121223345" pattern="03[0-9]{2}(?!0123456)(?!1234567)(?!2345678)(?!3456789)(?!4567890)(?!0987654)(?!9876543)(?!8765432)(?!7654321)(?!6543210)([0-9])(?!\1{6})[0-9]{6}" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Image (optional)</label>
                                                <input name="pic" type="file" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 m-b30">
                                        <button type="submit" class="btn button-md">Sign Up</button>
                                    </div>
                                    <div class="col-lg-12">
                                        <h6>Sign Up with Social media</h6>
                                        <div class="d-flex">
                                            <a class="btn flex-fill m-r5 facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                            <a class="btn flex-fill m-l5 google-plus" href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        
                    </div>

                </div>



                @*<div class="col-lg-12">
            <div class="form-group">

                <label>Role</label>
                <input name="type" type="radio" class="active" value="Student" required=""><label>Student</label>
                <input name="type" type="radio" class="inactive" value="Teacher" required=""><label>Teacher</label>
                <input name="type" type="radio" class="inactive" value="Admin" required=""><label>Admin</label>

            </div>
        </div>*@

                @*    <form class="contact-bx" method="post" action="/home/Register" enctype="multipart/form-data">

                    <div class="row placeani">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Your Name</label>
                                    <input name="student_name" type="text" required="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Your Email Address</label>
                                    <input name="student_email" type="email" required="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Your Password</label>
                                    <input name="student_password" type="password" class="form-control" required="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Contact #</label>
                                    <input name="student_contact" type="text" title="please use this Pattern 03121223345" pattern="03[0-9]{2}(?!0123456)(?!1234567)(?!2345678)(?!3456789)(?!4567890)(?!0987654)(?!9876543)(?!8765432)(?!7654321)(?!6543210)([0-9])(?!\1{6})[0-9]{6}" class="form-control" required="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Image (optional)</label>
                                    <input name="pic" type="file" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">

                                <label>Role</label>
                                <input name="type" type="radio" checked value="Student" required=""><label>Student</label>
                                <input name="type" type="radio" value="Teacher" required=""><label>Teacher</label>
                                <input name="type" type="radio" value="Admin" required=""><label>Admin</label>

                            </div>
                        </div>

                        <div class="col-lg-12 m-b30">
                            <button type="submit" class="btn button-md">Sign Up</button>
                        </div>
                        <div class="col-lg-12">
                            <h6>Sign Up with Social media</h6>
                            <div class="d-flex">
                                <a class="btn flex-fill m-r5 facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                <a class="btn flex-fill m-l5 google-plus" href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
                            </div>
                        </div>
                    </div>
                </form>
                *@
            </div>
        </div>
    </div>
</div>
