
<!DOCTYPE html>
<html lang="en">


<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="tutoronic," />
    <meta name="author" content="Muhammad Bilal" />
    <meta name="robots" content="index,follow" />

    <!-- DESCRIPTION -->
    <meta name="description" content="Tutoronic : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="Tutoronic : Education HTML Template" />
    <meta property="og:description" content="Tutoronic : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/content/customer/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Tutoronic : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="~/content/customer/js/html5shiv.min.js"></script>
    <script src="~/content/customer/js/respond.min.js"></script>
    <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/content/customer/css/assets.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/content/customer/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/content/customer/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/content/customer/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/content/customer/css/color/color-1.css">

</head>
<body id="bg">
    @RenderBody()
    <!-- External JavaScripts -->
    <script src="~/content/customer/js/jquery.min.js"></script>
    <script src="~/content/customer/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/content/customer/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/content/customer/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/content/customer/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/content/customer/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/content/customer/vendors/counter/waypoints-min.js"></script>
    <script src="~/content/customer/vendors/counter/counterup.min.js"></script>
    <script src="~/content/customer/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="~/content/customer/vendors/masonry/masonry.js"></script>
    <script src="~/content/customer/vendors/masonry/filter.js"></script>
    <script src="~/content/customer/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="~/content/customer/js/functions.js"></script>
    <script src="~/content/customer/js/contact.js"></script>
    <script src='assets/vendors/switcher/switcher.js'></script>
</body>

</html>
